<div class="container">
  <ul>
    <% @chat_rooms.each do |chat_room| %>
      <li><%= link_to "Parler", "/users/#{current_user.id}/chat_rooms/#{chat_room.id}", class: "btn btn-success", style: " margin-top: 15px" %></li>
    <% end %>
  </ul>

  <%= link_to new_user_chat_room_path(current_user.id) do %>
      <i class="far fa-comment-dots"></i>
  <% end %>
</div>
