// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Economica|Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "sans-serif";
$headers-font: "Roboto Slab", "serif";
$qultur-font: "Satisfy", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Juicy";
  src: url('/fonts/JuicyCultureDT.ttf') format("ttf");
}
