// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Economica|Satisfy&display=swap");

// Define fonts for body and headers
$body-font: "Economica", "Helvetica", "sans-serif";
$headers-font: "Satisfy", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Juicy";
  src: url('/fonts/JuicyCultureDT.ttf') format("ttf");
}
