.avatar > img {
    margin-top: 20px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: cover;
    border: 3px solid #77C360;
}

 .buttons-profile {
    position: fixed;
    bottom: 85px;
    right: 0;
    left: 0;
  }

.stats {
    margin-bottom: 7px;
    height: 35vh;
    margin-top: 7px;
}

