<%= image_tag monument.photo, class: 'image-bubble' %>
<h2 class="mb-0"><%= monument.name %></h2>
<p><small><%= monument.address %></small></p>
<%= link_to 'En chasse', hunts_url(monument), method: :post, class: 'btn btn-green' %>
