<% if @hunt.progress == "pending" %>
  <div class="btn-green disable"><p>Quiz</p></div>
<% elsif @hunt.progress == "scanned" %>
  <a href="#"><div class="btn-green"><p>Quiz</p></div></a>
<% elsif @hunt.progress == "answering" %>
  <div class="btn-green-disable"><p>Quiz</p></div>
<% else @hunt.progress == "finish" %>
  <h1><%= @hunt.captured %> / 10</h1>
<% end %>
