<p>
  <% if @hunt.progress == "pending" %>
    "Vous n'avez pas encore scanné le monument ;)"
  <% elsif @hunt.progress == "scanned" %>
    "Félicitation, vous avez atteint <%=@hunt.monument.name%>. Vous pouvez désormais répondre au quizzz!"
  <% elsif @hunt.progress == "answering" %>
    "Vous avez débuté le questionnaire, bonne chance"
  <% elsif @hunt.progress == "finish" %>

  </div>
    <% if @hunt.captured? %>
      "Vous avez capturé ce momument ! Félicitation !"
    <% else %>
      "Vous n'êtes pas parvenu à capturer le monument :(... mais ne soyez pas triste, il y a encore de nombreux monuments à capturer !"
    <% end %>

  <% end %>
</p>
