<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-md-between">
  <div>
    <p>QultuR</p>
  </div>
  <div class="information d-flex">
      <% if user_signed_in? %>
        <div>
          <%= image_tag("coin.png", width: 20) %>
        </div>
        <div>
          <p>200</p>
        </div>
        <%= link_to "#" do %>
          <i class="far fa-envelope"></i>
        <% end %>
      <% end %>
    </div>
</div>


