<h1>Coucou</h1>

<%= form_with(url: scanned_path, method: "post", id: "qr-code-form") do |f| %>
  <%= f.hidden_field :url, hidden: true, id: "field-to-send" %>
  <form action="<%= scanned_path %>">
    <label class=qrcode-text-btn>
      <input type=file accept="image/*" capture=environment id="qr-field" tabindex=-1>
    </label>
  </form>
<% end %>
