<div class="container">

  <div class="d-flex justify-content-center mt-3">
      <div class="d-flex justify-content-between">
          <div>
              <%= simple_form_for :query, url: root_path, method: "GET", :html => {:class => "form-inline"} do |f| %>
                <%= f.input :address, collection: Monument::CITY, label: false %>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success text-white font-weight-bold mb-2">Chassons!</button>
          </div>
          <% end %>
      </div>
  </div>

</div>

<div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
