.avatar {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar:hover {
  opacity: 0.8;
  cursor: pointer;
}

.avatar-small {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar-large {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: center;
  border: 3px solid $green;
  border-radius: 50%;

}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.logo {
  width: 45px;
  position: absolute;
  top: 2px;
}

.logo-coin {
  right: 115px;
  width: 27px;
  position: absolute;
  top: 14px;
}
