/* Place the navbar at the bottom of the page, and make it stick */
// .bottom-navbar {
//   background-color: white;
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   box-shadow: 0px 0px 8px #DADADA;
//   left: 0;
// Y

// .bottom-navbar i {
//   color: #404040;
// }

// /* Style the links inside the navigation bar */
// .bottom-navbar a {
//   color: #202020;
//   font-size: 32px;
//   padding: 4px;
// }

// .bottom-navbar a:active {
//   border-top: 4px solid $green;
// }

/* A mettre en place avec du Javascript (ajout et suppression de classe avec un listener) */
// .bottom-navbar .active {
//   border-top: 4px solid $green;
// }

.qr-button {
  border-radius: 50%;
  margin: 0;
  width: 75px;
  height: 75px;
  border: 2px solid white;
  box-shadow: 0px 0px 2px #999999;
  text-align: center;
  padding-top: 17px;
  padding-left: 1px;
}

.qr-button > input[type=file] {
  position:absolute;
  overflow:hidden;
  width:0px;
  height:0px;
  opacity:0;
}


.container.navbar-bottom {
height: 75px;
width: 100%;
position: fixed;
padding: 0px;
margin: auto;
bottom: 0;
left: 0;
right: 0;
perspective: 2000px;
-webkit-perspective: 2000px;
}

.item {
  float: left;
  height: 100%;
  width: 20%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

}

.front, .back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.item:nth-child(1)>div {
  background-color: rgba(0,0,0,0);
}
.item:nth-child(2)>div {
  background-color: rgba(0,0,0,0);
}
.item:nth-child(3)>div {
  background-color: $green;
  border-radius: 50%;
}
.back {
  position: relative;
  transform:rotateY(180deg);
  bottom: 130px;
  color: white;
  font-size: 35px;
}

i {
  color: $gray;
  font-size: 35px;
}

.item:active{
  transform:rotateY(180deg);
  transition: 0.6s;
}
