.btn-green {
  color: white;
  font-weight: bold;
  background-color: $green;
}

.btn-outline-green {
  color: $green;
  font-weight: bold;
  border: 2px solid $green;
}


#button-hint {
  color: white;
  font-weight: bold;
  margin-top: 16px;
  margin-right: 8px;
  background-color: rgb(230, 126, 34);
}

.coin-logo {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
