.btn-green {
  color: white;
  font-weight: bold;
  background-color: $green;
  border-radius: 3px;
  padding: 16px 32px 16px 32px;
}

.btn-green p {
  padding: 0 auto;
}

.btn-green-disable {
  color: white;
  font-weight: bold;
  background-color: #b3d4b2;
  border-radius: 3px;
  padding: 16px 32px 16px 32px;
}

.btn-red {
  color: white;
  font-weight: bold;
  background-color: $red;
  border-radius: 3px;
  padding: 16px 32px 16px 32px;
}

.button-profile {
  width: 355px;
  position: absolute;
  bottom: 24px;
}

.btn.btn-block.btn-green {
  position: relative;
  top: 121px;
}

.btn.btn-block.btn-green.edit {
  position: relative;
  top: 6px;
}


.btn.btn-block.btn-green.mt-4.disabled {
  position: relative;
  top: 102px;
}

.btn.btn-block.btn-green.mt-4 {
  position: relative;
  top: -94px;
}

