.card-monument-anim {
  height: 130px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 8px #202020;
  transition: 0.4s ease-out;
  position: relative;
}

.card-gradient {
  border-radius: 2px;
}

.card-gradient:hover {
  transform: translateX(10px);
  transition: 0.4s ease-out;
}

.title {
  font-family: $qultur-font;
  color: white;
  font-size: 36px;
  font-weight: 300;
  position: absolute;
  right: 8px;
  bottom: 0px;
  padding: 8px;
  border-radius: 24px;
  text-shadow: 1px 1px 2px #202020;
}

.card-monument-anim i {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 4px #202020;
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 8px;
}

.not-captured {
  opacity: 0.4;
}
