.info-bg {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  margin: 0 !important;
  margin-top: 8px !important;
  color: black;
}

.info-bg-internal {
  margin-bottom: -7px;
}

.signin p {
  font-size: 20px;
  margin-bottom: 0px;
}

.form-inputs input {
  border-radius: 8px;
}

.form-inputs input::placeholder {
  font-size: 18px;
  opacity: 0.7;
}

.form-actions {
  color: $gray;
}

.signup {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px 3px 15px 3px;
  margin-top: 20px;
}

.form-check-label {
  opacity: 0.7;
}

#nickname {
  font-size: 20px;
  font-weight: bolder;
}
