.signin {
  border-radius: 10px;
  background-color: lightgray;
  padding: 2px 3px 10px 3px;
}

.signin p {
  font-size: 16px;
  margin-bottom: 0px;
}

.form-inputs input {
  border-radius: 8px;
}

.form-inputs input::placeholder {
  font-size: 18px;
  opacity: 0.7;
}

.form-actions {
  color: white;
}

.signup {
  border-radius: 10px;
  background-color: lightgray;
  padding: 2px 3px 15px 3px;
}

.signup p {
  font-size: 16px;
  margin-bottom: 0px;
}

.form-check-label {
  opacity: 0.7;
}

.btn.btn-green {
  background-color: $green;
}
