#map {
  width: 100%;
  height: 540px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
