#map {
  width: 100%;
  height: calc(100vh - 51px);
}

.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  width: 300px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.image-bubble {
  width: 280px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.mapboxgl-ctrl .mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-ctrl .mapboxgl-ctrl-group {
  position: relative;
  top: 0px;
}

.mapboxgl-canvas {
  position: absolute;
  width: 320px;
  height: 600px;
}

.mapboxgl-control-container {
  height: 600px;
}
