.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 0px 8px #999999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.far {
  font-size: 25px;
  color: black;
}

.navbar {
  padding: 10px 15px !important;
  background-color: lightgray;
  position: sticky;
  top: 0px;
}

.navbar a {
  margin-bottom: -7px;
}

.navbar p {
  margin: 0px;
}

.information p {
  margin: 1px 22px 0px 18px;
}

.information i {
  color: #404040;
}
