#map-navigation {
  position: relative;
}

#distance-field {
  margin: 8px;
  font-family: sans-serif;
}

#distance-div {
  position: absolute;
  border-radius: 8px;
  top: 2%;
  left: 2%;
  background-color: white;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
}
