.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.far {
  font-size: 25px;
  color: black;
}

.navbar {
padding: 6px 15px !important;
}

.navbar a {
  margin-bottom: -7px;
}

.navbar p {
  margin: 0px;
}

.information p {
 margin: 0px 12px 0px 6px;
}
