.query {
  margin-bottom: 16px;
}

.search-bar {
  width: 100%;
}

#profil-access-btn.disabled {
  pointer-events: none;
  cursor: default;
}

#coins {
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.form-example label {
  margin-top: 8px;
}
