.card-monument-anim {
  height: 124px;
  width: 100%;
  border-radius: 24px;
  box-shadow: -1rem 0 3rem #202020;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
}

.card-gradient {
  border-radius: 24px;
}

.card-gradient:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 300;
  position: absolute;
  right: 8px;
  bottom: 0px;
  padding: 8px;
  border-radius: 24px;
  text-shadow: 1px 1px 2px #202020;
}

.card-monument-anim i {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 4px #202020;
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 8px;
}

.not-captured {
  opacity: 0.4;
}


hr.hr-styled {
  opacity: 0.5;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
