.card-monument-anim {
  height: 120px;
  width: 360px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #202020;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
}

.card-monument-anim img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  display: block;
}

.not-captured img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  display: block;
}

.card-monument-anim:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  right: 8px;
  bottom: 0px;
  box-shadow: 1px 1px 4px #202020;
  background-color: $gray;
  padding: 8px;
  border-radius: 8px;
}

.card-monument-anim i {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 4px #202020;
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 8px;
}
